**/node_modules
*.log
bootstrap*.*
*.xml
*.png
*.ico
*.svg
/uploads
exports
site.webmanifest
.env
*.csv
*.xls
*.xlsx
/users_guides
.credentials.*
test/testui/screenshots
test/test-try
original-inhousedb.ejs