<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=
no">
  <!-- Favicons section-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/stylesheets/styles.css" />
</head>

<body>
  <%- include("../partials/header") %>
    <main class="container mt-4">
      <%- include("../partials/flash") %>
        <%- body %>
    </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper.js/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Feather icons -->
    <script src="/assets/vendor/feather-icons/feather.js"></script>
    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src="/assets/javascripts/my-tinymce-config.js"></script>
    <!-- Upload script only for the  inhouse db importing - uploadFlag-->
    <% if (uploadFlag) {%>
      <script src="/assets/javascripts/ajax-upload.js"></script>
      <% } %>
    <!-- Feather icons script to work -->
        <script>
          feather.replace();
        </script>
</body>

</html>