.btn-close {
  background: transparent url('data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2396'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e') center/1em auto no-repeat;
 }
 
 .strong {
   font-weight: 600;
 }

 .accordion-header, .accordion-button {
   background-color: #fdf6e5;
   color: rgb(44, 32, 32);
   border-radius: 5px;
   font-weight: 600;
 }

#menuBar > li{
  padding-right:4rem;
  font-weight: 600;
 }
 
 
 #menuBar > li > ul > li > a {
   font-weight: 600;
  }

/* Table for to do list */
#to-do-list > tbody > tr:nth-child(odd) {
  background-color: #fdf6e4;
  color: rgb(44, 32, 32);
 }
 
 #to-do-list > tbody > tr:nth-child(even) {
   background-color: #f0db9c;
   color: rgb(44, 32, 32);
}


/* Table for gene positions */
#gene-positions { 
  border-collapse: collapse; 
}

#gene-positions th { 
  font-weight: 400; 
}

#gene-positions > tbody > tr:nth-child(odd) {
  background-color: #fdf6e4;
  color: rgb(44, 32, 32);
 }
 
 #gene-positions > tbody > tr:nth-child(even) {
   background-color: #f0db9c;
   color: rgb(44, 32, 32);
}

#gene-positions tr { 
  border: none; 
}

#gene-positions td {
  border-right: solid 1px rgb(44, 32, 32) ; 
  border-left: solid 1px rgb(44, 32, 32);
}

/* Strong and underlined text in th in inhouse db search result table */
.highlighted {
  text-decoration: underline;
}

/* Detail link in the table for more information */
.detail-info {
  cursor: pointer;
}