<% layout("layouts/index") %>

<% layout("layouts/index") %>
  <h1 class="mt-2">In house database</h1>
  <a href="/in-house-db/import" class="btn btn-lg btn-outline-primary strong mt-3">+ Import data</a>
  <%- include("./partials/search-db") %>