<main class="container">
  <h1 class="mt-2">To do list</h1>
<table class="table table-hover mt-5" id="to-do-list">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">To do task</th>
      <th scope="col">Who wants it</th>
      <th scope="col">Done?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Default</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Primary</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
</main>