<main class="container">
  <h1 class="mt-2">To do list</h1>
  <a href="/tasks/new-task" class="btn btn-lg btn-outline-success strong mt-3">+ Create a new task</a>
  <table class="table table-hover mt-3" id="to-do-list">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">To do task</th>
        <th scope="col">Who wants it</th>
        <th scope="col">Done</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{ date }}</td>
        <td>{{ to_do_task }}</td>
        <td>{{ who_wants_it }}</td>
        <td>{{ done }}</td>
                <td>
          <i class="me-2 text-info" data-feather="edit"></i>
          <i class="text-primary" data-feather="trash-2"></i>
        </td>
      </tr>
        {{/each}}
    </tbody>
  </table>