<% layout('layouts/index') %>
  <div class="container d-flex justify-content-center align-items-center mt-2">
    <div class="row col-12">
      <h1 id="title" class="mt-2 mb-3">Delete the data from the in-house database</h1>
      <h3>Do you really want to delete all the data from the in-house db?</h3>
      <a class="col-6 btn btn-lg btn-outline-primary strong mt-3 " href="/in-house-db/delete-data">Delete all the data
        from the in-house db</a>
    </div>
  </div>