<% layout('layouts/index') %>
  <div class="container d-flex justify-content-center align-items-center mt-2">
    <div class="row col-12">
      <h1 id="title" class="mt-2 mb-3">Import the data to the in-house database</h1>
      <div class="content col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="mt-3">
              <form id="upload-form" class="needs-validation" enctype="multipart/form-data" action="/import-data"
                method="POST" novalidate>
                <div class="input-group mb-5">
                  <input type="file" class="form-control" name="genes" id="file" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload" accept=".csv" required>
                  <button class="btn btn-outline-success">Upload the file</button>
                </div>
                <!-- Spinner div -->
                <div id="loading-overlay">
                  <div id="spinner"></div>
                </div>
                <div id="fetch-result"></div>
              </form>
              <div class="mt-5 fs-6 border-top fw-lighter">
                <p class="mt-2">* Maximum size of the file: <%= fileS / 1000000 %>MB</p>
                <p> ** Allowed files: <%= allowedFiles %> with separator "," and encodings utf-8.</p>
                <p> *** List can not contain empty lines under the last line.</p>
                <p> **** Columns have to have exact count, order and names: "Chr,Start,End,Ref,Alt,gNomen,Func_refGene,Gene_refGene,AF_GNOMAD,InterVar_automated,clinvar,MULTI_ALLELIC,HOM_VAR,HET_REF,HET_OTHER,HOM_REF,NO_CALL,OTHER_GT,VAR,CALLED,QUAL,AC,AF,HOM_VAR_samples,HET_REF_samples,HET_OTHER_samples,HOM_REF_samples,NO_CALL_samples,OTHER_GT_samples"</p>
                <p> ***** No commas can be in the values except for the separators of the columns. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>