<% layout ("layouts/main-login")%>
<div class="container d-flex justify-content-center align-items-center mt-2">
  <div class="row col-10">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">
          <h5>Login</h5>
          <form action="/login" method="POST" class="needs-validation" novalidate>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" autofocus required>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="d-grid mt-2">
              <button class="btn btn-success btn-block">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>